docs/6 Data Pipelines/Concur Pipelines/Split_SAE.json
{
  "flowContents": {
    "identifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
    "name": "Split SAE",
    "comments": "",
    "position": {
      "x": 192.0,
      "y": 448.0
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "a7564838-381e-3c47-af1a-099eee71e188",
        "name": "Partition by Record Key",
        "comments": "",
        "position": {
          "x": 688.0,
          "y": 624.0
        },
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.15.2.2.1.3.0-125"
        },
        "style": {},
        "type": "org.apache.nifi.processors.standard.PartitionRecord",
        "properties": {
          "cash.advance.key": "/CashAdvanceKey_187",
          "record-writer": "b6799e95-d15a-3dc6-b6ac-93829ac2f7a0",
          "report.key": "/ReportKey_20",
          "record-reader": "5b161298-28b4-3265-85c1-8757972d65ed"
        },
        "propertyDescriptors": {
          "cash.advance.key": {
            "name": "cash.advance.key",
            "displayName": "cash.advance.key",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-writer": {
            "name": "record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "report.key": {
            "name": "report.key",
            "displayName": "report.key",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-reader": {
            "name": "record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          }
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "original"
        ],
        "scheduledState": "ENABLED",
        "componentType": "PROCESSOR",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "292033d6-b08b-30b6-af90-25df3fc99f48",
        "name": "Route by SAE Record Type",
        "comments": "",
        "position": {
          "x": 688.0,
          "y": 144.0
        },
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.15.2.2.1.3.0-125"
        },
        "style": {},
        "type": "org.apache.nifi.processors.standard.RouteText",
        "properties": {
          "Routing Strategy": "Route to each matching Property Name",
          "Details": "DETAIL",
          "Ignore Leading/Trailing Whitespace": "true",
          "Headers": "EXTRACT",
          "Matching Strategy": "Starts With",
          "Character Set": "UTF-8",
          "Ignore Case": "false",
          "Grouping Regular Expression": null
        },
        "propertyDescriptors": {
          "Routing Strategy": {
            "name": "Routing Strategy",
            "displayName": "Routing Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Details": {
            "name": "Details",
            "displayName": "Details",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Ignore Leading/Trailing Whitespace": {
            "name": "Ignore Leading/Trailing Whitespace",
            "displayName": "Ignore Leading/Trailing Whitespace",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Headers": {
            "name": "Headers",
            "displayName": "Headers",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Matching Strategy": {
            "name": "Matching Strategy",
            "displayName": "Matching Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Character Set": {
            "name": "Character Set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Ignore Case": {
            "name": "Ignore Case",
            "displayName": "Ignore Case",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Grouping Regular Expression": {
            "name": "Grouping Regular Expression",
            "displayName": "Grouping Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "original"
        ],
        "scheduledState": "ENABLED",
        "componentType": "PROCESSOR",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "5ee1a212-da58-38bf-8f45-91f4581b4a46",
        "name": "Route By Processing Type",
        "comments": "",
        "position": {
          "x": 688.0,
          "y": 1048.0
        },
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.15.2.2.1.3.0-125"
        },
        "style": {},
        "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
        "properties": {
          "Routing Strategy": "Route to Property name",
          "CBCP": "${payment.type:equals('CBCP')}",
          "Advance": "${cash.advance.rectype:equals('1')}",
          "CASH": "${payment.type:equals('CASH')}",
          "COPD": "${payment.type:equals('COPD')}"
        },
        "propertyDescriptors": {
          "Routing Strategy": {
            "name": "Routing Strategy",
            "displayName": "Routing Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "CBCP": {
            "name": "CBCP",
            "displayName": "CBCP",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Advance": {
            "name": "Advance",
            "displayName": "Advance",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "CASH": {
            "name": "CASH",
            "displayName": "CASH",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "COPD": {
            "name": "COPD",
            "displayName": "COPD",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "componentType": "PROCESSOR",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "6af02966-7472-313d-abec-46bf3387d2c2",
        "name": "Partition by Processing Type",
        "comments": "",
        "position": {
          "x": 688.0,
          "y": 856.0
        },
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.15.2.2.1.3.0-125"
        },
        "style": {},
        "type": "org.apache.nifi.processors.standard.PartitionRecord",
        "properties": {
          "employee.id": "/EmployeeID_5",
          "payment.type.name": "/ReportEntryPaymentTypeName_250",
          "record-writer": "b6799e95-d15a-3dc6-b6ac-93829ac2f7a0",
          "cash.advance.rectype": "/CashAdvanceTransactionType_185",
          "policy.name": "/ReportPolicyName_33",
          "last.name": "/EmployeeLastName_6",
          "record-reader": "5b161298-28b4-3265-85c1-8757972d65ed",
          "payment.type": "/PaymentTypeCode_126"
        },
        "propertyDescriptors": {
          "employee.id": {
            "name": "employee.id",
            "displayName": "employee.id",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "payment.type.name": {
            "name": "payment.type.name",
            "displayName": "payment.type.name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-writer": {
            "name": "record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "cash.advance.rectype": {
            "name": "cash.advance.rectype",
            "displayName": "cash.advance.rectype",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "policy.name": {
            "name": "policy.name",
            "displayName": "policy.name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "last.name": {
            "name": "last.name",
            "displayName": "last.name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-reader": {
            "name": "record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "payment.type": {
            "name": "payment.type",
            "displayName": "payment.type",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "original"
        ],
        "scheduledState": "ENABLED",
        "componentType": "PROCESSOR",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "213d62c6-2754-3c22-9b4a-28a075189ef3",
        "name": "Validate Detail Records against Schema",
        "comments": "",
        "position": {
          "x": 688.0,
          "y": 376.0
        },
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.15.2.2.1.3.0-125"
        },
        "style": {},
        "type": "org.apache.nifi.processors.standard.ValidateRecord",
        "properties": {
          "allow-extra-fields": "true",
          "strict-type-checking": "true",
          "schema-name": "${schema.name}",
          "record-writer": "b6799e95-d15a-3dc6-b6ac-93829ac2f7a0",
          "invalid-record-writer": "b6799e95-d15a-3dc6-b6ac-93829ac2f7a0",
          "schema-registry": null,
          "coerce-types": "false",
          "validation-details-attribute-name": "validation.details",
          "record-reader": "4e1386e9-94b2-317b-a86c-373bb11f1b28",
          "maximum-validation-details-length": "1024",
          "schema-access-strategy": "reader-schema",
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "allow-extra-fields": {
            "name": "allow-extra-fields",
            "displayName": "Allow Extra Fields",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "strict-type-checking": {
            "name": "strict-type-checking",
            "displayName": "Strict Type Checking",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-writer": {
            "name": "record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "invalid-record-writer": {
            "name": "invalid-record-writer",
            "displayName": "Record Writer for Invalid Records",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "coerce-types": {
            "name": "coerce-types",
            "displayName": "Force Types From Reader's Schema",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "validation-details-attribute-name": {
            "name": "validation-details-attribute-name",
            "displayName": "Validation Details Attribute Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-reader": {
            "name": "record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "maximum-validation-details-length": {
            "name": "maximum-validation-details-length",
            "displayName": "Maximum Validation Details Length",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "componentType": "PROCESSOR",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "fcb7c0b3-333b-3f1b-82b9-2a01929e57ec",
        "name": "Log SAE Header Row",
        "comments": "",
        "position": {
          "x": 1104.0,
          "y": 144.0
        },
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.15.2.2.1.3.0-125"
        },
        "style": {},
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "properties": {
          "Log prefix": "CONCUR SAE HEADER",
          "character-set": "UTF-8",
          "Log Level": "warn",
          "attributes-to-ignore-regex": null,
          "Attributes to Ignore": null,
          "Attributes to Log": null,
          "attributes-to-log-regex": ".*",
          "Log Payload": "true"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "name": "Log prefix",
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log Level": {
            "name": "Log Level",
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "attributes-to-ignore-regex": {
            "name": "attributes-to-ignore-regex",
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Attributes to Ignore": {
            "name": "Attributes to Ignore",
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Attributes to Log": {
            "name": "Attributes to Log",
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "attributes-to-log-regex": {
            "name": "attributes-to-log-regex",
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log Payload": {
            "name": "Log Payload",
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success"
        ],
        "scheduledState": "ENABLED",
        "componentType": "PROCESSOR",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "0fd9aa1f-858a-3739-9efb-eae73e630137",
        "name": "Redact Credit Card Numbers",
        "comments": "",
        "position": {
          "x": 1112.0,
          "y": 376.0
        },
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.15.2.2.1.3.0-125"
        },
        "style": {},
        "type": "org.apache.nifi.processors.standard.UpdateRecord",
        "properties": {
          "/IndividualCreditCardAccountNumber_154": "substring(/IndividualCreditCardAccountNumber_154, -5, 30)",
          "/BilledCreditCardAccountNumber_130": "substring(/BilledCreditCardAccountNumber_130, -5, 30)",
          "record-writer": "b6799e95-d15a-3dc6-b6ac-93829ac2f7a0",
          "record-reader": "5b161298-28b4-3265-85c1-8757972d65ed",
          "replacement-value-strategy": "record-path-value"
        },
        "propertyDescriptors": {
          "/IndividualCreditCardAccountNumber_154": {
            "name": "/IndividualCreditCardAccountNumber_154",
            "displayName": "/IndividualCreditCardAccountNumber_154",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "/BilledCreditCardAccountNumber_130": {
            "name": "/BilledCreditCardAccountNumber_130",
            "displayName": "/BilledCreditCardAccountNumber_130",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-writer": {
            "name": "record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "record-reader": {
            "name": "record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "replacement-value-strategy": {
            "name": "replacement-value-strategy",
            "displayName": "Replacement Value Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "componentType": "PROCESSOR",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      }
    ],
    "inputPorts": [
      {
        "identifier": "7266fa2c-cbec-3f08-8ba1-5c15c622686f",
        "name": "SAE File",
        "position": {
          "x": 744.0,
          "y": 48.0
        },
        "type": "INPUT_PORT",
        "concurrentlySchedulableTaskCount": 1,
        "scheduledState": "ENABLED",
        "allowRemoteAccess": false,
        "componentType": "INPUT_PORT",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      }
    ],
    "outputPorts": [
      {
        "identifier": "6ff42094-b754-389d-a213-4387387f9e61",
        "name": "Cash Advance Payments",
        "comments": "",
        "position": {
          "x": 1432.0,
          "y": 1192.0
        },
        "type": "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount": 1,
        "scheduledState": "ENABLED",
        "allowRemoteAccess": false,
        "componentType": "OUTPUT_PORT",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "573e15f1-98c7-39d4-b3e2-e8afdbed3b54",
        "name": "Failures",
        "position": {
          "x": 32.0,
          "y": 632.0
        },
        "type": "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount": 1,
        "scheduledState": "ENABLED",
        "allowRemoteAccess": false,
        "componentType": "OUTPUT_PORT",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "948a5088-b576-3f90-9307-bd849dfede09",
        "name": "Card Allocations",
        "position": {
          "x": 1432.0,
          "y": 960.0
        },
        "type": "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount": 1,
        "scheduledState": "ENABLED",
        "allowRemoteAccess": false,
        "componentType": "OUTPUT_PORT",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "472fe2bd-e67b-396d-953e-afb5c18cc1a7",
        "name": "Traveller Reimbursements",
        "comments": "",
        "position": {
          "x": 1432.0,
          "y": 1112.0
        },
        "type": "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount": 1,
        "scheduledState": "ENABLED",
        "allowRemoteAccess": false,
        "componentType": "OUTPUT_PORT",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "64f46dee-aa0e-3d7d-a113-a3d4fe069527",
        "name": "Travel Agency Allocations",
        "comments": "",
        "position": {
          "x": 1432.0,
          "y": 1032.0
        },
        "type": "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount": 1,
        "scheduledState": "ENABLED",
        "allowRemoteAccess": false,
        "componentType": "OUTPUT_PORT",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "9563c162-98a5-38ad-9096-978cfc1a1d5c",
        "name": "Unknown Record Type",
        "position": {
          "x": 152.0,
          "y": 1080.0
        },
        "type": "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount": 1,
        "scheduledState": "ENABLED",
        "allowRemoteAccess": false,
        "componentType": "OUTPUT_PORT",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "e14c5381-f76d-3995-948f-cfbde9b59bf3",
        "name": "Invalid Records",
        "position": {
          "x": 232.0,
          "y": 312.0
        },
        "type": "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount": 1,
        "scheduledState": "ENABLED",
        "allowRemoteAccess": false,
        "componentType": "OUTPUT_PORT",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      }
    ],
    "connections": [
      {
        "identifier": "bb163636-256d-3e88-9b8e-a7c8e78446cf",
        "name": "",
        "source": {
          "id": "6af02966-7472-313d-abec-46bf3387d2c2",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Partition by Processing Type",
          "comments": ""
        },
        "destination": {
          "id": "573e15f1-98c7-39d4-b3e2-e8afdbed3b54",
          "type": "OUTPUT_PORT",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Failures"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "b4727dab-7df3-334f-9602-c983db0fb950",
        "name": "",
        "source": {
          "id": "5ee1a212-da58-38bf-8f45-91f4581b4a46",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Route By Processing Type",
          "comments": ""
        },
        "destination": {
          "id": "472fe2bd-e67b-396d-953e-afb5c18cc1a7",
          "type": "OUTPUT_PORT",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Traveller Reimbursements",
          "comments": ""
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "CASH"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "7887aa45-147a-389a-b38b-cd5917c9c2a3",
        "name": "",
        "source": {
          "id": "5ee1a212-da58-38bf-8f45-91f4581b4a46",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Route By Processing Type",
          "comments": ""
        },
        "destination": {
          "id": "948a5088-b576-3f90-9307-bd849dfede09",
          "type": "OUTPUT_PORT",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Card Allocations"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "CBCP"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "0d317968-9df6-398a-b45e-a64a4e4158c1",
        "name": "",
        "source": {
          "id": "6af02966-7472-313d-abec-46bf3387d2c2",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Partition by Processing Type",
          "comments": ""
        },
        "destination": {
          "id": "5ee1a212-da58-38bf-8f45-91f4581b4a46",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Route By Processing Type",
          "comments": ""
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "9e7cd9db-fdcb-38de-9090-eba07e38b8b8",
        "name": "",
        "source": {
          "id": "7266fa2c-cbec-3f08-8ba1-5c15c622686f",
          "type": "INPUT_PORT",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "SAE File"
        },
        "destination": {
          "id": "292033d6-b08b-30b6-af90-25df3fc99f48",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Route by SAE Record Type",
          "comments": ""
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          ""
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "0e0e0d87-d1ac-3b8c-9cf1-b4c9606442ae",
        "name": "",
        "source": {
          "id": "5ee1a212-da58-38bf-8f45-91f4581b4a46",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Route By Processing Type",
          "comments": ""
        },
        "destination": {
          "id": "6ff42094-b754-389d-a213-4387387f9e61",
          "type": "OUTPUT_PORT",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Cash Advance Payments",
          "comments": ""
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "Advance"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "1cc831aa-f0e1-3767-9167-c58390a862ba",
        "name": "",
        "source": {
          "id": "292033d6-b08b-30b6-af90-25df3fc99f48",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Route by SAE Record Type",
          "comments": ""
        },
        "destination": {
          "id": "fcb7c0b3-333b-3f1b-82b9-2a01929e57ec",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Log SAE Header Row",
          "comments": ""
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "Headers"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [
          {
            "x": 1280.0,
            "y": 104.0
          }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "d7e73549-dab7-3568-94f3-2312510c4910",
        "name": "",
        "source": {
          "id": "a7564838-381e-3c47-af1a-099eee71e188",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Partition by Record Key",
          "comments": ""
        },
        "destination": {
          "id": "573e15f1-98c7-39d4-b3e2-e8afdbed3b54",
          "type": "OUTPUT_PORT",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Failures"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "8fc3dd37-8476-302f-b6bf-df2b2b0cd0cd",
        "name": "",
        "source": {
          "id": "213d62c6-2754-3c22-9b4a-28a075189ef3",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Validate Detail Records against Schema",
          "comments": ""
        },
        "destination": {
          "id": "0fd9aa1f-858a-3739-9efb-eae73e630137",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Redact Credit Card Numbers",
          "comments": ""
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "valid"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [
          {
            "x": 1288.0,
            "y": 336.0
          }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "36e86063-a14c-36fa-84c0-7b3336049a1e",
        "name": "",
        "source": {
          "id": "a7564838-381e-3c47-af1a-099eee71e188",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Partition by Record Key",
          "comments": ""
        },
        "destination": {
          "id": "6af02966-7472-313d-abec-46bf3387d2c2",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Partition by Processing Type",
          "comments": ""
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "f231b648-da60-3467-8c95-f3695d615082",
        "name": "",
        "source": {
          "id": "0fd9aa1f-858a-3739-9efb-eae73e630137",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Redact Credit Card Numbers",
          "comments": ""
        },
        "destination": {
          "id": "a7564838-381e-3c47-af1a-099eee71e188",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Partition by Record Key",
          "comments": ""
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "5acbce76-f273-30ce-a48e-689c64cc61c8",
        "name": "",
        "source": {
          "id": "213d62c6-2754-3c22-9b4a-28a075189ef3",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Validate Detail Records against Schema",
          "comments": ""
        },
        "destination": {
          "id": "573e15f1-98c7-39d4-b3e2-e8afdbed3b54",
          "type": "OUTPUT_PORT",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Failures"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "00d54294-f0e9-36b8-a69a-56b9f477abc3",
        "name": "",
        "source": {
          "id": "213d62c6-2754-3c22-9b4a-28a075189ef3",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Validate Detail Records against Schema",
          "comments": ""
        },
        "destination": {
          "id": "e14c5381-f76d-3995-948f-cfbde9b59bf3",
          "type": "OUTPUT_PORT",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Invalid Records"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "invalid"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [
          {
            "x": 468.0000128500062,
            "y": 439.50001369922165
          }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "1bd456b6-afbe-3427-aa0f-7b3e96da52ca",
        "name": "",
        "source": {
          "id": "292033d6-b08b-30b6-af90-25df3fc99f48",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Route by SAE Record Type",
          "comments": ""
        },
        "destination": {
          "id": "213d62c6-2754-3c22-9b4a-28a075189ef3",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Validate Detail Records against Schema",
          "comments": ""
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "Details"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "4851e39c-e9e4-36f4-8168-da50f00c7bdc",
        "name": "",
        "source": {
          "id": "0fd9aa1f-858a-3739-9efb-eae73e630137",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Redact Credit Card Numbers",
          "comments": ""
        },
        "destination": {
          "id": "573e15f1-98c7-39d4-b3e2-e8afdbed3b54",
          "type": "OUTPUT_PORT",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Failures"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "b47447c7-e137-34b8-95b0-8413de9558d4",
        "name": "",
        "source": {
          "id": "5ee1a212-da58-38bf-8f45-91f4581b4a46",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Route By Processing Type",
          "comments": ""
        },
        "destination": {
          "id": "64f46dee-aa0e-3d7d-a113-a3d4fe069527",
          "type": "OUTPUT_PORT",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Travel Agency Allocations",
          "comments": ""
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "COPD"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "50f3ce87-06eb-30a2-82a2-acf5dc87cc9e",
        "name": "",
        "source": {
          "id": "292033d6-b08b-30b6-af90-25df3fc99f48",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Route by SAE Record Type",
          "comments": ""
        },
        "destination": {
          "id": "e14c5381-f76d-3995-948f-cfbde9b59bf3",
          "type": "OUTPUT_PORT",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Invalid Records"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "unmatched"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [
          {
            "x": 564.0000128500062,
            "y": 215.50001369922163
          }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "6169bf4c-78a6-34ed-92aa-baaec6b75924",
        "name": "",
        "source": {
          "id": "5ee1a212-da58-38bf-8f45-91f4581b4a46",
          "type": "PROCESSOR",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Route By Processing Type",
          "comments": ""
        },
        "destination": {
          "id": "9563c162-98a5-38ad-9096-978cfc1a1d5c",
          "type": "OUTPUT_PORT",
          "groupId": "e016bf4c-d9c1-329f-833d-b25ffec99ac3",
          "name": "Unknown Record Type"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "unmatched"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      }
    ],
    "labels": [
      {
        "identifier": "5824681f-726b-3d8b-9322-49f4c692a249",
        "position": {
          "x": 616.0,
          "y": 592.0
        },
        "label": "Split by Report Key and Transaction Type",
        "width": 472.0,
        "height": 600.0,
        "style": {
          "background-color": "#d6efff",
          "font-size": "18px"
        },
        "componentType": "LABEL",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      },
      {
        "identifier": "8d617d42-0cfd-3f60-b668-e4a8d32eed74",
        "position": {
          "x": 616.0,
          "y": 24.0
        },
        "label": "Read and Validate SAE",
        "width": 960.0,
        "height": 560.0,
        "style": {
          "font-size": "18px"
        },
        "componentType": "LABEL",
        "groupIdentifier": "e016bf4c-d9c1-329f-833d-b25ffec99ac3"
      }
    ],
    "funnels": [],
    "controllerServices": [],
    "variables": {},
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "componentType": "PROCESS_GROUP"
  },
  "externalControllerServices": {
    "5b161298-28b4-3265-85c1-8757972d65ed": {
      "identifier": "5b161298-28b4-3265-85c1-8757972d65ed",
      "name": "CSVReader"
    },
    "4e1386e9-94b2-317b-a86c-373bb11f1b28": {
      "identifier": "4e1386e9-94b2-317b-a86c-373bb11f1b28",
      "name": "SAE Pipe Delimited Reader"
    },
    "b6799e95-d15a-3dc6-b6ac-93829ac2f7a0": {
      "identifier": "b6799e95-d15a-3dc6-b6ac-93829ac2f7a0",
      "name": "CSVRecordSetWriter"
    }
  },
  "parameterContexts": {},
  "flowEncodingVersion": "1.0"
}
